PROJECT-1 => Temperature Convertor

In [2]:
def fahrenheitToCelsius(fahrenheit):
    celsius=(fahrenheit-32)*5/9
    return celsius

fahrenheitToCelsius(98.6)

37.0

In [16]:
def celsiusToFahreheit(celsius):
    fahrenheit=9/5*(celsius)+32
    print(fahrenheit)

value=float(input("Enter the value of celsius : "))
celsiusToFahreheit(value)

Enter the value of celsius :  37

98.60000000000001

PROJECT-2 => Calculator

In [30]:
def add(a, b):
    return a+b

def subtract(a , b):
    return a-b

def multiply(a,b):
    return a*b

def divide(a, b):
    if b==0:
        return ("Error! value must not equal to zero ")
    return a/b

def remainder(a, b):
    return a%b

choice = input("Enter the choice (+ ,- , *, / , %)")

try:

    a=float(input("Enter the first value  : "))
    b=float(input("Enter the second value : "))
    if choice == '+':
        print("Result : ", add(a,b))
    elif choice == '-':
        print("Result : " , sub(a, b))
    elif choice == '*':
        print("Result : " , multiply(a, b))
    elif choice == '/':
        print("Result : ", divide(a , b))
    elif choice == '%':
        print("Result : " , remainder(a , b))
    else:
        print("Invalid choice")

except ValueError:
    print("Invalid Input")

Enter the choice (+ ,- , *, / , %) 67
Enter the first value  :  0
Enter the second value :  12

Invalid choice

Client Project -> Data Processing Script (Calculate Avergae of the temperature)

In [36]:
def avgTemperature(list_data):
    if not list_data:
        return None
    avg_data=sum(list_data)/len(list_data)
    return avg_data

list_data=[47.6, 48.1, 46.1, 45.8, 38.0]
avgTemperature(list_data)

45.12

In [38]:
def dataProcess(list_data1):
    if not list_data1:
        return None
    avg_data1=sum(list_data1)/len(list_data1)
    max_data1=max(list_data1)
    min_data1=min(list_data1)
    return {
        "average":avg_data1,
        "max": max_data1,
        "min":min_data1
    }
list_data1=[35.7, 43.2, 50.0, 48.4, 32.8, 41.8]

dataProcess(list_data1)

{'average': 41.983333333333334, 'max': 50.0, 'min': 32.8}

WEEK -> 2

List , Tuple, Dictionary

In [53]:
my_list=["Apple", "Banana", "Orange", "Mango", "Papaya", "Grapes"]
print(my_list)

['Apple', 'Banana', 'Orange', 'Mango', 'Papaya', 'Grapes']

In [55]:
my_list.sort()
my_list.append(False)
print(my_list[2:5])

['Grapes', 'Mango', 'Orange']

In [57]:
my_tuple=("one", "two", "three")
print(my_tuple)

('one', 'two', 'three')

Hands On Project -> Data Transformation, Data Filtering, work on data structures

In [70]:
# Data Transformation

def transform_data(data_list):
    after_tranform=[value.lower() for value in data_list]
    print(after_tranform)

raw_data = ["  Alice", "BOB", "alice", "Eve "]
transform_data(raw_data)

['  alice', 'bob', 'alice', 'eve ']

In [72]:
# Data Filtering -> filter even number from the list
def filterEvenNumber(raw_list):
    filter_data=[x for x in raw_list if x % 2 == 0]
    return filter_data

raw_list=[2,3,6,7,9,1,12]
filterEvenNumber(raw_list)

[2, 6, 12]

In [87]:
# Data Cleaning -> Remove the white space and empty string and duplicate to cleaning the list

def dataCleaning(raw_list):
    cleaned_data=[value.strip().lower() for value in raw_list if value.strip()!=""]
    final_clean_data=list(set(cleaned_data))
    return final_clean_data


raw_list=["MANGO", " ", "oRANGE", "", "Apple", "Apple", "banana  ",]
dataCleaning(raw_list)

['orange', 'mango', 'apple', 'banana']

In [106]:
# Data Tranformation-> Sum of Square
def sumOfSquare(data_list):
    return sum(x**2 for x in data_list)

def squareAll(data_list):
    return [x**2 for x in data_list]


data_list=[1,2,3,4,5,9,12,16]

sumOfSquare(data_list)

squareAll(data_list)

[1, 4, 9, 16, 25, 81, 144, 256]

Client Project:
 Write a script for data cleaning (e.g., remove duplicates, filter 
data).

In [177]:
def clean_filter_data(raw_data):
    cleaned_data=[]
    
    for val in raw_data:
        val=val.strip()
        if val.isdigit():
            cleaned_data.append(int(val))
            

    final_data=sorted(list(set(cleaned_data)))
    return final_data

raw_data = ["10", "20", " ", "30", "20", "ten", "40", "", "30", " 50 ", "NaN"]
clean_filter_data(raw_data)

[10, 20, 30, 40, 50]