In [3]:
# python format string
age=24
print(f"my age is {age}")

my age is 24

In [5]:
# slicing string
str="Hello world"
print(str[3:7])

lo w

In [9]:
# list
my_List=["Apple", "Banana", "Orange", "Mango", "Papaya", "Grapes"]
print(my_List)

['Apple', 'Banana', 'Orange', 'Mango', 'Papaya', 'Grapes']

In [11]:
print(my_List[0])

Apple

In [26]:
# Acess the list

list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [32]:
list2=["Apple","Banana", 46, True, 'hello']
print(list2)

['Apple', 'Banana', 46, True, 'hello']

In [5]:
this_list=["apple", "banana", "orange", 5, "grapes", True]
print(this_list)

['apple', 'banana', 'orange', 5, 'grapes', True]

In [7]:
print(this_list[2:5])

['orange', 5, 'grapes']

In [15]:
if "banan" in this_list:
    print("yes , 'banana' present in the list" )
else:
    print("not present in the list")

not present in the list

In [17]:
this_list[3]="dates"
print(this_list)

['apple', 'banana', 'orange', 'dates', 'grapes', True]

In [19]:
this_list.insert(2, "Mango")
print(this_list)

['apple', 'banana', 'Mango', 'orange', 'dates', 'grapes', True]

In [21]:
this_list.append(False)
print(this_list)

['apple', 'banana', 'Mango', 'orange', 'dates', 'grapes', True, False]

In [23]:
for x in this_list:
    print(x)

apple
banana
Mango
orange
dates
grapes
True
False

In [51]:
my_list=[4, 2, 6, 1, 9]
print(my_list)

[4, 2, 6, 1, 9]

In [53]:
sum=0
for x in my_list:
    sum+=x
print(sum)

22

In [57]:
my_list.sort()
print(my_list)

[1, 2, 4, 6, 9]

In [61]:
list_x=["Mango", "Banana", "Apple", "Papaya", "cherry", "slum", "lechi"]
print(list_x)

['Mango', 'Banana', 'Apple', 'Papaya', 'cherry', 'slum', 'lechi']

In [69]:
list_f = []
for x in list_x:
    if 'a' in x:
        list_f.append(x)

print(list_f)

['Mango', 'Banana', 'Papaya']

In [1]:
list1=["a", "b"]
list2=["c", "d"]
list3=list1+list2
print(list3)

['a', 'b', 'c', 'd']

In [1]:
import random

In [5]:
print(random.randrange(1,10))

8

In [7]:
str="iamsharjeel"

In [24]:
tuple_1=("Apple", "Banana", "Mango", "papaya","orange" )
print(tuple_1)

('Apple', 'Banana', 'Mango', 'papaya', 'orange')

In [26]:
print(tuple_1[1])

Banana

In [30]:
print(tuple_1.count("Apple"))

1

In [32]:
# how to add item in tuple
# 1.convert tuple to list

In [34]:
list1=list(tuple_1)
print(list1)

['Apple', 'Banana', 'Mango', 'papaya', 'orange']

In [36]:
list1.append("grapes")

In [38]:
print(list1)

['Apple', 'Banana', 'Mango', 'papaya', 'orange', 'grapes']

In [40]:
list1.insert(2 , "value at 2")

In [42]:
print(list1)

['Apple', 'Banana', 'value at 2', 'Mango', 'papaya', 'orange', 'grapes']

In [46]:
tuple_1=tuple(list1)

In [48]:
print(tuple_1)

('Apple', 'Banana', 'value at 2', 'Mango', 'papaya', 'orange', 'grapes')

<!-- Set -->

In [50]:
set1={"hello", "apple", "yes", "world"}
print(set1)

{'yes', 'world', 'apple', 'hello'}

In [54]:
set1.add("sharjeel")
print(set1)

{'world', 'hello', 'apple', 'sharjeel', 'yes'}

In [56]:
set2={"to", "add", "from", "other", "set", "update", "is", "used"}
set1.update(set2)
print(set1)

{'is', 'used', 'world', 'to', 'update', 'hello', 'other', 'from', 'add', 'apple', 'set', 'sharjeel', 'yes'}

In [58]:
set1.add("yes")
print(set1)

{'is', 'used', 'world', 'to', 'update', 'hello', 'other', 'from', 'add', 'apple', 'set', 'sharjeel', 'yes'}

In [64]:
set1.remove("yes")
print(set1)

{'is', 'used', 'world', 'to', 'update', 'hello', 'other', 'from', 'add', 'apple', 'set', 'sharjeel'}

In [88]:
set3={"one", "two", "three"}
set4={"four", "five", "six" , "one"}
myset=set4.union(set3)
print(myset)

{'two', 'three', 'one', 'five', 'six', 'four'}

In [90]:
set3.update(set4)
print(set3)

{'two', 'three', 'one', 'five', 'six', 'four'}

In [92]:
my_set=set3.intersection(set4)
print(my_set)

{'five', 'six', 'one', 'four'}

In [94]:
set6 = {"apple", "banana", "cherry"} 
set7 = {"google", "microsoft", "apple"} 
set8 = set6 ^ set7
print(set8)

{'microsoft', 'cherry', 'google', 'banana'}

In [96]:
data = ["10", "20", "30", "error", "40"]

# Convert valid strings to integers and ignore invalid ones
clean_data = [int(x) for x in data if x.isdigit()]

# Now calculate the average
average = sum(clean_data) / len(clean_data)

print("Clean Data:", clean_data)
print("Average:", average)

Clean Data: [10, 20, 30, 40]
Average: 25.0

In [108]:
def clean_and_filter_data(raw_list):
    cleaned_data = []

    for item in raw_list:
        item = item.strip()  # Remove leading/trailing spaces
        if item.isdigit():   # Keep only numeric values
            cleaned_data.append(int(item))

    # Remove duplicates by converting to a set, then back to a list
    unique_data = list(set(cleaned_data))
    unique_data.sort()

    return unique_data

# Example user input (could come from file or keyboard)
raw_input = input("Enter values separated by commas: ")

# Convert to list and clean
raw_list = raw_input.split(',')
cleaned_result = clean_and_filter_data(raw_list)

print("Cleaned Data:", cleaned_result)

Enter values separated by commas:  12 ,34, ten, 2

Cleaned Data: [2, 12, 34]

In [ ]:
def